body {
  text-align: center;
}

main p {
  font-size: 18px;
  width: min(500px, 100%);
  margin: 20px auto;
}

footer p {
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 1;
  padding: 0;
}

#navbar {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.nav-button {
  font-size: 24px;
  margin: auto;
  transition-duration: 0.5s;
}

#welcome-section {
  height: max(100vh, fit-content);
  margin-top: 70px;
  scroll-margin-top: 500px;
}

#my-pic {
  margin: auto;
  height: 200px;
  display: block;
  margin: 20px auto;
}

h1 {
  margin: 0 auto;
}

#projects {
  width: 100%;
  scroll-margin-top: 100px;
}

.project-reel {
  display: block;
  justify-content: space-between;
}

.project-tile {
  width: fit-content;
  padding: 10px 0;
  margin: 0 auto;
}

.fig-caption {
  font-size: 24px;
}

.fig-caption, .project-img {
  transition-duration: 2s;
}

.fig-caption:hover, footer a:hover {
  transition-duration: 0.5s;
  color: rgb(209, 43, 43);
}

.project-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top left;
}

#project-img3, #project-img4 {
  object-position: center center;
}

@media (min-width: 800px) {

    .project-tile:hover .fig-caption {
      font-size: 36px;
    }
  
    .project-tile:hover .project-img {
      width: 800px;
      height: 640px;
    }

}

@media (max-width: 550px) {

  #welcome-section {
    margin-top: 40px;
    scroll-margin-top: 200px;
  }

  #my-pic {
    height: 200px;
  }

  #projects {
    scroll-margin-top: 60px;
  }

  #header {
    height: fit-content;
  }


  .nav-button {
    margin: 5px auto;
    font-size: 14px;
  }

}

@media (max-width: 350px) {

  #welcome-section {
    margin-top: 130px;
    scroll-margin-top: 200px;
  }

  #projects {
    scroll-margin-top: 150px;
  }

  #navbar {
    margin: 5px auto;
    display: grid;
  }
  
}
